//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Only Murders In the Building Clues
        h3
            a(class={active: currentUrl === '/updates'} href='/updates') Add/Update this table
        table
            thead
                tr
                    th Washer Name
                    th Washer Age
                    th Washer Experience
            tbody
                each clue in data
                    tr
                        td= washer.properties.name
                        td= washer.properties.age
                        td= washer.properties.years_of_experience